@charset "UTF-8";
body {
  background-color: #f78181;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: rgb(222, 104, 255);
}
 
header {
  padding: 80px;
  height: 25px;
}
 
nav {
  padding: 8px 40px;
  background-color: black;
  color: rgb(36, 191, 65);
}
 
main {
  padding: 40px;
  height : 400px;
}
 
footer {
  padding: 1920px;
  height: 1080px;
  background-color : black;
  color: rgb(69, 179, 196);
}
